html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.first-slide {
  background-image: url(pexels-photo-260922.jpeg);
  width: auto;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-text {
  color: white;
  position: absolute;
  bottom: 25px;
  right: 15px
}
