html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-menu {
  text-align: center;
}

.hide {
  visibility: hidden;
}

.nav-menu {
  background-color: white;
  height: 200px;
  width: 100%;
  position: absolute;
}

.icons {
  color: white;
  position: absolute;
  top: 25px;
  right: 20px;
}

.active {
  top: 225px;
}

.first-slide {
  background-image: url(pictures/pexels-photo-260922.jpeg);
  width: auto;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.slide-text {
  color: white;
  position: absolute;
  bottom: 25px;
  right: 20px
}
